@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-background: #f3f3e7;
  --color-background-alt: #f1f1e4;
  --color-foreground: #171717;
  --color-primary: #333333;
  --color-secondary: #182d27;
  --color-text: #7a7a7a;
  --color-accent: #568673;
  --color-danger: #cb6a61;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #171717;
    --color-background-alt: #1a1a1a;
    --color-foreground: #ffffff;
    --color-primary: #f5f5f5;
    --color-secondary: #568673;
    --color-text: #a3a3a3;
    --color-accent: #6b9885;
    --color-danger: #e17a71;
  }
}

/* Basic resets and defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-ibm-plex-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-marcellus);
  font-weight: 500;
}
