@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-background: #fefdf7;
  --color-background-alt: #f1f1e4;
  --color-foreground: #171717;
  --color-primary: #333333;
  --color-secondary: #1f2926;
  --color-text: #7a7a7a;
  --color-accent: #568673;
  --color-accent-light: #a5d7bf;
  --color-danger: #cb6a61;
  --color-border-primary: #33333338;

  /* Fonts */
  --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --font-marcellus: 'Marcellus', serif;
}

/* Basic resets and defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-ibm-plex-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  font-family: var(--font-ibm-plex-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-marcellus);
  font-weight: 500;
}

p {
  color: var(--color-text);
  font-weight: lighter;
}

.font-ibm-plex-sans {
  font-family: var(--font-ibm-plex-sans);
}

.font-marcellus {
  font-family: var(--font-marcellus);
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
  background-color: #f95445 !important;
}

@keyframes fireballPulse {
  0% {
    box-shadow:
      0px 0px 20px 10px #ffffff,
      0px 0px 50px 30px #ff9d00d3,
      0px 0px 80px 50px #f8ae3798;
  }
  30% {
    box-shadow:
      0px 0px 50px 25px #ffffff,
      0px 0px 80px 50px #ff9d00,
      0px 0px 120px 80px #f8ae37;
  }
  100% {
    box-shadow:
      0px 0px 20px 10px #ffffff,
      0px 0px 50px 30px #ff9d00d3,
      0px 0px 80px 50px #f8ae3798;
  }
}
